/* You can add global styles to this file, and also import other style files */
a {
  color: #002688;
}

a:hover {
  color: #3368bf;
}

a:visited {
  color: #002688;
}

.bg-light {
  background-color: #f7f7f7;
}

.section-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
